/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
# as this is a test project, .env removed from .gitignore consciously
#.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.txt
*.DS_Store
